.hero{
    display: flex;
    padding-bottom: 130px;
}

//LEFT SIDE

.hero__left{
    padding-top: 335px;
    
}

.hero__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 94px;

    & span{
        color: var(--accent);
        font-weight: 300;
    }
}

.hero__line{
    width: 270px;
    height: 1px;
    background-color: var(--light-gray);
}

.hero__numb{
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #BDBDBD;
}

.hero__crossline{
    background-color: transparent;
    margin: 0 24px;
}


//RIGHT SIDE

.hero__right{
    position: relative;
}

.hero__btn{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    color: var(--text-color);

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: #F9F9F9;
        height: 150px;
        width: 300px;
        border-radius: 50%;
       }
       
       &:hover {
        color: var(--text-color);
       }
       
       &::before {
        top: 100%;
        left: 100%;
        transition: all .7s;
       }
       
       &:hover::before {
        top: -30px;
        left: -30px;
       }
       
       &:active::before {
        background: #6a6969;
        transition: background 0s;
       }
}