:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;

	--page-bg: #fff;
	--text-color: #333333;
	--accent: #BDBDBD;
	--light-gray: #F2F2F2;
	--form: #F3F3F3;
	--footer: #2C2C2C;

    --laptop-size: 1200px;
	--tablet-size: 768px;
	--mobile-size: 340px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}