<section class="company container" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
        <div class="company__container--gray"></div>
        <div class="company__container">
            <div class="company__flex">
                <div class="company__flex--left">
                    <img class="company__flex-img" src="./img/companyf.png" alt="build">
                    <img class="company__flex-img" src="./img/companys.jpg" alt="build">
                </div>        
                <img class="company__flex-img company__flex-img--right" src="./img/companyt.jpg" alt="build" >
            </div>
        
            <div class="company__content">
                <h2 class="title">О компании</h2>
                <p class="company__text">
                    Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been 
                    the industry's standard dummy text ever since the 
                    1500s, when an unknown printer took a galley of 
                    type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also
                    the leap into electronic typesetting, remaining
                    essentially unchanged.
                </p>
        
                <a href="#" class="btn btn--company">
                    ЧИТАТЬ
                    <img src="./img/arrow-right.svg" alt="arrow" class="btn__arrow">
                </a>
            </div>
        </div>
        
    
    
</section>