<section class="contact container">
    <h2 class="title"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
    >Связаться с нами</h2>

    <div class="contact__content"
    
    >
        
            <form class="form" autocomplete="off" 
            data-aos="fade-right"
     data-aos-duration="1500"
     data-aos-easing="linear"
            >
                <div class="form__field"> 
                    <label for="name" class="form__label">Имя</label>          
                    <input type="text" class="form__input" name="name" id="name">                   
                </div>

                <div class="form__field">
                    <label for="tel" class="form__label">Номер телефона<span class="form__star">*</span></label>            
                    <input type="tel" class="form__input" name="tel" id="tel">                  
                </div>

                <div class="form__field"> 
                    <label for="mail" class="form__label">E-mail<span class="form__star">*</span></label>           
                    <input type="mail" class="form__input" name="mail" id="mail">               
                </div>

                <div class="form__field"> 
                    <label for="text" class="form__label">Интересующий товар/услуга</label>          
                    <input type="text" class="form__input form__input--goods"  name="text" id="text">                   
                </div>

                <div class="form__textarea">
                    <label for="comment" class="form__label">Сообщение<span class="form__star">*</span></label>
                    <textarea name="comment" id="comment"  class="textarea"></textarea>
                </div>

                <div class="form__agree">            
                    <label class="form__label form__label-agree">
                        <input type="checkbox" name="agree"  class="form__checkbox">
                        <span class="form__checkbox-icon"> </span>
                        Отправляя заявку Вы соглашаетесь с политикой конфиденциальности
                    </label>
                </div>
                

                <button type="submit" href="#" class=" btn btn--contact btn--dark">
                    ОТПРАВИТЬ
                    <img src="./img/arrow-right-white.svg" alt="">
                </button>
            </form>

        <img src="./img/man.jpg" alt="man" 
        data-aos="fade-left"
        data-aos-duration="1500"
        data-aos-easing="linear">
        </div>
        
        
    
</section>