<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="logo--footer">
            <img src="./img/logo-footer.svg" alt="logo" class="logo__icon">
        </a>

        <div class="footer__content">

            <div class="footer__info">
                <h3 class="footer__title">Информация</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Главная</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Галерея</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Проекты</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Сертификаты</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Контакты</a>
                    </li>
                </ul>
            </div>
            
            <div class="footer__contacts">
                <h3 class="footer__title">Контакты</h3>
                
                <div class="footer__contact">
                    <span class="footer__icon--location">
                        <img src="./img/location.svg" alt="">
                    </span>
                    <p class="footer__text footer__text--location">
                    100000, Республика  Казахстан, <br>
                    г. Караганда, ул. Телевизионная 10
                </p>         
                </div>
                
                <div class="footer__contact">
                    <span class="footer__icon">
                        <img src="./img/phone.svg" alt="">
                    </span>
                    <p class="footer__text footer__text--phone">
                        +38 (000) 000 00 00
                    </p>
                </div>
                
                <div class="footer__contact">
                    <span class="footer__icon">
                        <img src="./img/mail.svg" alt="">
                    </span>
                    <p class="footer__text">
                    
                    mail@gmail.com
                </p>
                </div>
                

            </div>

        </div>

        <div class="footer__socials">
            <h3 class="footer__title">Социальные сети</h3>

            <ul class="socials__list">
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <svg class="socials__icon" width="24" height="24">
                            <use href="./img/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <svg class="socials__icon" width="24" height="24">
                            <use href="./img/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <svg class="socials__icon" width="24" height="24">
                            <use href="./img/symbol-defs.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="#" class="socials__link">
                        <svg class="socials__icon" width="24" height="24">
                            <use href="./img/symbol-defs.svg#icon-pinterest"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
    
</footer>