<section class="hero container">
    <div class="hero__left "
    data-aos="fade-right"
     data-aos-offset="800"
     data-aos-duration="1500"
     data-aos-easing="ease-in-sine"
    >
        <h1 class="hero__title ">
            <span >Project</span>
            <br>
            Home
        </h1>

        <div class="btns">
            <button class="btns__arrow"><img src="./img/arrow-left.svg" alt="arrow"></button>
            <button class="btns__arrow"><img src="./img/arrow-right.svg" alt=""></button>
            <div class="hero__line"></div>
        </div>
        
        <div class="hero__numbs">
            <span class="hero__numb">01</span>
            <span class="hero__crossline">
                <img src="./img/line.svg" alt="line">
            </span>
            <span class="hero__numb">02</span>
        </div>

    </div>
    <div class="hero__right"
    data-aos="fade-left"
     data-aos-offset="800"
     data-aos-duration="1500"
     data-aos-easing="ease-in-sine"
    >
        <img src="./img/hero.png" alt="image" class="hero__img">
        <a href="#" class="btn hero__btn">
            ВЗГЛЯНУТЬ
            <img src="./img/arrow-right.svg" alt="arrow">
        </a>
    </div>
</section>