<section class="projects container">
    <h2 class="title">Наши проекты</h2>

    <div class="projects__colection">
        <div class="projects__up">
            <ul class="card__list">
                <li class="card">
                    <img src="./img/cardo.jpg" alt="building" >                      
    
                                  
                        <div class="card__description ">
                            <h2 class="card__title ">
                                ДОСУГОВЫЙ ЦЕНТР
                            </h2>
                            <a href="#" class="card__link">
                                ПОДРОБНЕЕ
                                <img src="./img/arrow-right-white.svg" alt="arrow">
                            </a>
                          </div>
                        
                    
                </li>

                <li class="card">
                    <img src="./img/cardt.jpg" alt="building" >                      
    
                                  
                        <div class="card__description">
                            <h2 class="card__title">
                                ЦЕНТР ИСКУСТВ
                            </h2>
                            <a href="#" class="card__link">
                                ПОДРОБНЕЕ
                                <img src="./img/arrow-right-white.svg" alt="arrow">
                            </a>
                          </div>
                        
                    
                </li>
            </ul>
            
        </div>

          <div class="projects__down"> 
            <ul class="card__list">
                <li class="card">
                    <img src="./img/cardth.jpg" alt="building" >                      
    
                                  
                        <div class="card__description">
                            <h2 class="card__title">
                                ЗАЛ
                            </h2>
                            <a href="#" class="card__link">
                                ПОДРОБНЕЕ
                                <img src="./img/arrow-right-white.svg" alt="arrow">
                            </a>
                          </div>
                        
                    
                </li>

                <li class="card">
                    <img src="./img/cardf.jpg" alt="building" >                      
    
                                  
                        <div class="card__description">
                            <h2 class="card__title">
                                КВАРТАРЫ
                            </h2>
                            <a href="#" class="card__link">
                                ПОДРОБНЕЕ
                                <img src="./img/arrow-right-white.svg" alt="arrow">
                            </a>
                          </div>
                        
                    
                </li>

                <li class="card">
                    <img src="./img/cardfi.jpg" alt="building" >                      
    
                                  
                        <div class="card__description">
                            <h2 class="card__title">
                                МУЗЕИ
                            </h2>
                            <a href="#" class="card__link">
                                ПОДРОБНЕЕ
                                <img src="./img/arrow-right-white.svg" alt="arrow">
                            </a>
                          </div>
                        
                    
                </li>
            </ul>
            
        </div> 
    </div>

    <a href="#" class="projects__btn btn btn--dark">
        ВСЕ ПРОЕКТЫ
        <img src="./img/arrow-right-white.svg" alt="arrow">
    </a>
</section>