<section class="tasks container" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
    <h2 class="title" >Основные задачи</h2>

    <div class="tasks__content">
        <div class="tasks__first">
            <span class="tasks__number">1</span>
            <p class="tasks__text tasks__text--first">Создание комфортных условий и повышение качества обслуживания клиентов</p>
        </div>

        <div class="tasks__second">
            <span class="tasks__number">2</span>
            <p class="tasks__text tasks__text--second">Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке</p>
        </div>
    </div>
</section>